@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Add Student </h2>
@* <p>@Html.ValidationMessageFor(model => model.CourseId, "", new (@class = "text-danger", @style="font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.StudentName, "", new (@class = "text-danger", @style = "font-weight: 600; "})</p> *@


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)

  @* @Html.LabelFor(model => model.Course)
  @Html.DropDownList("CourseId") *@
  
  <input type="submit" value="Add new student" class="btn btn-success" />
}
<div id="nav-links">
  <p>@Html.ActionLink("Show all students", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div> 