@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Course

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>
<h3>@Html.DisplayNameFor(model => model.CourseNumber): @Html.DisplayFor(model => model.CourseNumber)</h3>  
@* <h3>@Html.DisplayNameFor(model => model.Student): @Html.DisplayFor(model => model.Student)</h3>   *@

@if (@Model.JoinEntities.Count == 0)
{
  <h3>This course has no student(s)</h3>
} 
else
{
  <h3>Course populated with follwoing student(s):</h3>
  <ul>
    @foreach (CourseStudent join in Model.JoinEntities)
      {
        <li>Student: @join.Student.StudentName</li>
        @using (Html.BeginForm("DeleteJoin", "Students"))
        {
          @Html.Hidden("joinId",@join.CourseStudentId)
          <input type="submit" value="Delete"/>
        }
      }
  </ul>
}
<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to list", "Index")</p>

  <p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId})</p>

  <p>@Html.ActionLink("Add a Student", "AddStudent", new { id = Model.CourseId })</p>

  <p>@Html.ActionLink("Delete a Course", "Delete", new { id = Model.CourseId })</p>
</div>